<html>
<head>
<title>Quantum Soccer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBS3KiF_kDKclhxeXZMZSQbhqS_Hdtda84",
    authDomain: "quantumsoccer-8eac7.firebaseapp.com",
    databaseURL: "https://quantumsoccer-8eac7.firebaseio.com",
    projectId: "quantumsoccer-8eac7",
    storageBucket: "quantumsoccer-8eac7.appspot.com",
    messagingSenderId: "530051774265"
  };
  firebase.initializeApp(config);
</script>
<script src="javascripts/script.js"></script>
</head>
<body>
<div id="header">
<h1> Quantum S</h1> <img src="/images/ball.png"/> <h1>ccer</h1>
<a class="logout" href="/logout"/>Logout!</a>
<h1 id="hello">Hello, &nbsp<span id="username"> <%= username %> </span></h1>
</div>
<canvas id="canvas"> </canvas>
<script src="javascripts/game.js"></script>
</body>

</html>
