html {
  height: 100%
}

body {
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .65));	
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

h1{
   color: cyan;
   font-size: 40px;
   display: inline-block;
}

#hello{
    color: white;
    font-size: 30px;
    float: right;
}

canvas {
	border: 1px solid #d3d3d3;
        background-color: black;
	display: block;
        margin: auto;
}

img {
   height: 30px;
   width: 30px;
   display: inline-block;
}

#header{
   top: 0;
   right: 0;
   margin: 0;
   margin-bottom: 100px;
   background-color: black;
   padding: 20px;
   border-bottom: 1px solid white;
}

.content {
	width: 35%;
	margin: 200px auto;
	padding: 20px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

input {
   font-size: 30px;
   padding: 5px;
   width: 80%;
}

.button {
  background-color: cyan;
  color: white;
  width: 82%;
  margin-bottom: 20px;
}

.button:hover{
   background-color: blue;
}

.logout{
   margin-left: 20px;
   background-color: cyan;
   color: white;
   float:right;
}

.logout:hover{
  background-color:blue;
} 

a{
  text-decoration: none;
  padding: 10px;
  background: cyan;
  color: white;
  margin: 5px;
  border: none;
}
a:hover{
 background: blue;
}
